body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

/* Banner Section CSS */
.banner-container {
  background-image: linear-gradient(rgb(18, 18, 18, 20%), rgb(18, 18, 18, 100%)),
    url("images/donation8.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-text {
  padding: 15% 20%;
  text-align: center;
}
.banner-text h1 {
  font-size: 60px;
  color: #ffffff;
  margin-bottom: 20px;
}
.banner-text p {
  padding: 0 100px;
  font-size: 18px;
  color: #ffffff;
  line-height: 25px;
  margin-bottom: 30px;
}
.button-link {
  padding: 15px 20px;
  margin: 0 auto;
  display: block;
  font-size: 20px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  background-color: #ff5959;
  cursor: pointer;
}

/* Donate Today Section CSS */
.donate-container {
  padding: 8% 0;
}
.donate-text {
  text-align: center;
}
.donate-text h1 {
  font-size: 45px;
  color: #121212;
  font-weight: 700;
  margin-bottom: 20px;
}
.donate-text p {
  font-size: 18px;
  color: #707070;
  font-weight: 400;
  padding: 0 22%;
  line-height: 25px;
  margin-bottom: 40px;
}
.donate-amount {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.donate-amount h2 {
  background-color: #fafafa;
  width: 10%;
  margin: 10px;
  padding: 20px 10px;
  font-size: 30px;
  color: #707070;
  text-align: center;
  line-height: 75px;
  border-radius: 5px;
}
#amount-200tk {
  color: #ff5959;
  border: 2px solid #ff5959;
  background-color: #ffeeee;
}
.other-amount {
  padding-left: 18%;
  padding-right: 18%;
}
.other-amount input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 30px 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #dadada;
  text-align: center;
  box-sizing: border-box;
  font-size: 18px;
  color: #b3b3b3;
}

/* Our Donate Plan Section CSS */
.donatePlan-container {
  padding: 0 5%;
  margin-bottom: 120px;
}
.donatePlan-wrapper {
  display: flex;
  gap: 20px;
  padding-left: 7%;
  padding-right: 7%;
}
.card-left {
  background-color: #edf5f6;
  padding: 60px 20px 60px 30px;
  border-radius: 5px;
}
.card-title {
  font-size: 24px;
  color: #121212;
  margin-top: 20px;
  margin-bottom: 20px;
}
.crad-info {
  color: #707070;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
.card-center {
  background-color: #ffeeee;
  padding: 60px 20px 60px 30px;
  border-radius: 5px;
}
.card-right {
  background-color: #fff4d6;
  padding: 60px 20px 60px 30px;
  border-radius: 5px;
}

/* help homeless people section CSS */
.homelessPeople-container {
  margin-bottom: 100px;
  display: flex;
}
.leftSide-text {
  background-color: #f2f2f2;
  width: 40%;
  padding-left: 80px;
  padding-right: 20px;
}
.leftSide-text h1 {
  font-size: 45px;
  color: #121212;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 100px;
}
.leftSide-text p {
  font-size: 18px;
  color: #707070;
  font-weight: 400;
  line-height: 25px;
}
.contribute-button {
  padding: 15px 20px;
  margin-top: 20px;
  font-size: 20px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  background-color: #ff5959;
  cursor: pointer;
}
.rightSide-img {
  width: 60%;
}
.rightSide-img img {
  width: 100%;
  display: block;
}

/* contact section CSS*/
.contact-container {
  margin-bottom: 100px;
}
.contact-form {
  margin-left: 20%;
  margin-right: 20%;
  background-color: #fff4d6;
  padding: 80px 80px;
}

form {
  display: flex;
  margin-left: 15%;
}
.coantct-email {
  width: 50%;
  padding: 15px 20px;
  background-color: #d9d9d9;
  color: #aa9f9f;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}
.contact-button {
  padding: 15px 40px;
  background-color: #ff5959;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* footer */
footer {
  background-color: #0b0d17;
  padding: 50px 0;
  text-align: center;
}

footer h2 {
  color: #ff5959;
  margin-bottom: 20px;
  font-style: italic;
}
footer span {
  font-size: 12px;
  color: #d9dbe1;
}
